* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;

  width: 70px;
  height: 70px;
}

.img-zoom-result {

  width:400px;
  height:400px;
}