{% extends 'base.html'%}  
  
{% load static %}   

{% block css %}


<style>

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

</style>
{% endblock css %}




{% block content%} 

<div class="top" style="height:150px">!</div>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ user.first_name}}&nbsp {{user.last_name}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add Address</h4>
                </div>
                
        <form method="POST" action="{% url 'address' %}">
            {% csrf_token %}
                <div class="row mt-2">
                   
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value ="{{ profiles.first_name }}" name="first_name" required></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" name="last_name" value ="{{ profiles.last_name }}" placeholder="last name"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" placeholder="phone number" value ="{{ profiles.Phone_number }}" name="Phone_number" required></div>
                    <div class="col-md-12"><label class="labels">Gender</label><input type="text" class="form-control" placeholder="Gender" name="gender" value ="{{ profiles.gender }}" required></div>
                    <div class="col-md-12"><label class="labels">House</label><input type="text" class="form-control" placeholder="House name" name="house" value ="{{ profiles.house }}" required></div>
                    <div class="col-md-12"><label class="labels">Town</label><input type="text" class="form-control" placeholder="Town" name="town" value ="{{ profiles.town }}" required></div>
                    <div class="col-md-12"><label class="labels">Locality</label><input type="text" class="form-control" placeholder="Locality" name="locality" value ="{{ profiles.locality }}" required></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="State" name="state" value ="{{ profiles.state }}" required></div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" placeholder="Country" name="country" value ="{{ profiles.country }}" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Zip</label><input type="text" class="form-control" placeholder="Zip" name="zip" value ="{{ profiles.zip }}" required></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </form>
    
        </div>
        
    </div>
</div>
</div>
</div>


{% endblock %}