{% extends 'base.html' %}

{% block content %}
{% load mathfilters %}


<div class="top" style="height:200px">!</div>
<div class="d-flex justify-content-center" style="margin-left:20px;">
<div class="container bootdey">
    <div class="row invoice row-printable">
        <div class="col-md-10">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img width="100" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Invoice logo"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li>BEST BUY LLC</li>
                                    <li>Mumbai East Dr, Suite 105-C</li>
                                    <li>Niagra TX 78754</li>
                                    <li>VAT Number EU826113958</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Invoice</strong> &nbsp {{order.order_number}}</li>
                                        <li><strong>Invoice Date:</strong>&nbsp  {{order.created_at}} {{ order.status }}</li>
                                        {% if order.payment.payment_method == "COD" %}
                                        <li><strong>Status:</strong> <span class="label label-danger">UNPAID</span></li>
                                        {% else %}
                                        <li><strong>Status:</strong> <span class="label label-danger">PAID</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="invoice-to mt25 ">
                                <ul class="list-unstyled">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{order.first_name}} &nbsp {{order.last_name}}</li>
                                    <li>{{order.house}} {{orders.town}}</li>
                                    <li>{{order.state}}, {{order.country}}</li>
                                    <li>{{order.zip}}</li>
                                </ul>
                            </div>
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Description</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per5 text-center">Size</th>

                                                <th class="per25 text-center">Price</th>
                                                <th class="per25 text-center">Total</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for orderproduct in order_product %}
                                            <tr>
                                                
                                                <td>{{orderproduct.product.description}}</td>
                                                <td class="text-center">{{orderproduct.quantity}}</td>
                                                <td class="text-center">{{orderproduct.size}}</td>

                                                <td class="text-center">{{orderproduct.product.price}}</td>
                                                <td class="text-center">{{orderproduct.product.price|mul:orderproduct.quantity }}</td>

                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="1" class="text-right text-muted">offer applied:</th>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">₹{{order.order_total}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="1" class="text-right text-muted">shipping:</th>

                                                <th colspan="2" class="text-right">Shipping:</th>
                                                <th class="text-center">₹40 </th>
                                            </tr>
                                           
                                            <tr>
                                                <th colspan="1" class="text-right text-muted">Amount after Coupon Applied:</th>

                                                <th colspan="2" class="text-right">Total:</th>
                                                <th class="text-center">₹{{total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <div class="invoice-footer mt25 d-flex justify-content-end">
                                <p class="text-center ">Generated {{order.created_at}} <a href="{% url 'export_invoice_pdf' %}" class="btn_2 btn-primary" ><i class="fa fa-print"></i> Print</a></p>

                            </div>
                            <a href="{% url 'home' %}"> <button class="btn_3 btn-success">continue shopping</button></a>
                            
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>
</div>

{% endblock %}