{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="top" style="height:150px">!</div>
<section class="vh-100" style="background-color:lightgrey;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="login_page col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0 ">
              <div class="col-md-6 col-lg-5 d-none d-md-block mt-5">
                  <div class="A mt-5">
                <img class="pt-5"src="{% static 'images/cartoon2.png'%}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center mt-5 ">
            <div class=" mt-5">
                 
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form action="{% url 'login'  %}?id={{cart}}" method="POST">
                    {% csrf_token %}
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Best Buy</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                  
                    {% for message in messages %}
                   {% if message.success is True %}
                    <div class="alert "  style="color:green">
                      {{message}}
                    </div>
                    {% else %}
                    <div class="alert " style="color:orange" >
                   
                     {{message}}
                    </div>
                      {% endif %}
                    

                    {% endfor %}
                    
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" name="email" />
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
                    
                    <div class="pt-1 mb-4">
                      <button class="btn_5 btn-primary btn-lg btn-block" type="submit">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="text-center mt-2 mb-4"><a href="{% url 'login_otp' %}" style="color:blue">Login with OTP</a></p>
                    
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}"
                        style="color: #393f81;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}